body{
    margin: 0;
    height: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    width: 60%;
    height: 500px;
}

img {
    width: 100%
}

h6{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 60px;
    letter-spacing: 8px;
    margin: 50px 0 0;
}

.contact-us{
    display: flex;
    flex-direction: row;
}

p {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
}

@media (max-width:700px){
    h6{
        font-size: 26px;    
    }  

    .contact-us{
        flex-direction: column;
    }
}